

body{
    background-color:#000 ;
    color: antiquewhite;
    font-family: Fira Code;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}



@media (min-width: 320px){

  .container__initial{
    display: flex;
    justify-content: center;
    
  }

.location__container{
    width: 300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px; 
    margin-left:30px;
   
  }

    h2{
     font-size: 25px;
    
    }


    .list_container{
    list-style: none;
    line-height: 30px;
    }

.container__list{
  gap: 30px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
}

    
}

  @media (min-width: 768px){
    .location__container{
    width: 700px;
    gap: 20px; 
  }

    h2{
     font-size: 50px;
     line-height: 40px;
    }
}  
